<div class="container-fluid" style="width: 80%; padding-top: 50px">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-12" style="background-color: #343A40; border: 2px solid gray; border-radius: 15px; margin-right: 35px;" >
      <h3 style="margin: 15px auto 15px">Twój koszyk</h3>
      <div *ngIf="cartService.totalQuantity === 0">
        <div style="float: left; width: 100%; height: 76px; background-color: #343A40; border: 1px solid gray; margin: auto auto 25px; border-radius: 15px;">
          <h4 style="text-align: center; margin: 20px">Twój koszyk jest pusty!</h4>
        </div>
      </div>
      <div *ngFor="let tempProduct of this.cartService.cartItems; let i = index">
        <div style="float: left; width: 100%; height: auto; background-color: #343A40; border: 1px solid gray; margin: auto auto 25px; border-radius: 15px;">
          <a routerLink="/products/{{tempProduct.id}}" style="float: left;"> <img  class="rounded-circle" style="height: 40px; width: 40px; margin: 15px" src="{{tempProduct.imageUrl}}"></a>
          <a routerLink="/products/{{tempProduct.id}}" style="float: left; text-decoration: none; color: white; padding: 20px"><h4>{{ tempProduct.name }}</h4></a>

          <div class="text-right" style="float: right; margin: 15px 15px auto auto; width: auto; height: auto">
            <button type="button" class="btn btn-outline-danger btn-xs" (click)="deleteItem(i, tempProduct)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>


          <div class="def-number-input number-input safari_only" style="float: right; margin: 17px">
            <button class="minus" (click)="minusQuantity(tempProduct, i)"></button>
            <input class="quantity" min="0" name="quantity" value="{{tempProduct.quantity}}" type="number">
            <button class="plus btn" (click)="plusQuantity(tempProduct)"></button>
          </div>

          <div class="price" style="float: right; margin: auto; padding: 25px;">{{ tempProduct.unitPrice}}zł</div>
        </div>
      </div>
      <button class="btn btn-primary" routerLink="/products" style="margin: auto auto 15px">Wróć do zakupów</button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="background-color: #343A40;  border-radius: 15px; height: 150px;">
      <div style="float: left; margin: 15px auto 25px 15px;">
        <h4 class="text-center">Łączna kwota:</h4>
      </div>
      <div style="float: right; margin: 15px 15px auto;">
        <h4 class="text-center">{{cartService.totalPrice | number:'1.2'}} zł</h4>
      </div>
      <button class="btn btn-primary col-12" *ngIf="cartService.totalQuantity != 0">Złoż zamówienie</button>
      <button  class="btn btn-primary col-12" *ngIf="cartService.totalQuantity == 0"disabled>Złoż zamówienie</button>
    </div>
  </div>
</div>
